{% if snoobi_activated == true %}
    <script type="text/javascript">
    var _saq = _saq || [];

    (function() {

    var account = 'hel_fi_hki_tieke';
    var page_name = '';
    var section = '';

    var snbscript = document.createElement('script');
     snbscript.type = 'text/javascript';
    snbscript.async = true;
    snbscript.src = ('https:' == document.location.protocol ? 'https://' : 'http://')
    + 'eu1.snoobi.com/snoop.php?tili=' + account
    + '&page_name=' + page_name
    + '&section=' + section;

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(snbscript, s);
    })();
    </script>
{% endif %}
