
server {

  listen [::1]:80;
  listen 127.0.0.1:80;
  listen 443 ssl;
  server_name {{ public_facing_hostname }};

  error_page 500 502 503 504 /50x.html;

  location = /50x.html {
    root {{ static_path }};
    internal;
  }

  location = /robots.txt {
    root {{ static_path }};
  }

  location ~ ^/2vuotta {
      root {{ static_path }}/;
  }

  location ~ ^/2years {
        root {{ static_path }}/;
  }

  ### CKAN

  location /data/ {
    proxy_pass {{ ckan_internal_url }};
    proxy_read_timeout 300s;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_set_header Host $host;
  }

  location ~ ^/data/(fi|sv|en_GB)/$ {
    return 302 /data/$1/dataset;
  }

  location = /data/ {
    return 302 /data/fi/dataset;
  }

  location ~ ^/(fi/)?dataset(/.*|)$ {
    return 302 /data/$1dataset/$2;
  }

  location ~ ^/en/dataset(/.*|)$ {
      return 302 /data/en_GB/dataset$1;
  }

  ### WordPress

  location / {
    alias /opt/wordpress/;
    try_files $uri $uri/ //index.php?$args; # https://trac.nginx.org/nginx/ticket/97
    index index.php index.html;
    include php.conf;
  }

  ### WP Redirects

  location ~ ^/fi/ajankohtaista/(.*)$ {
    return 302 /fi/$1;
  }

  location ~ ^/fi/sovellukset/(.*)$ {
    return 302 /data/fi/showcase/$1;
  }

  location ~ ^/fi/hri-projekti/verkkopalvelu/$ {
    return 302 /fi/hri-palvelu/;
  }

  location ~ ^/fi/avaa-dataa/$ {
    return 302 /fi/ohjeet/datan-avaajalle/;
  }

  location ~ ^/fi/avaa-dataa/miksi-avata-dataa/$ {
    return 302 /fi/ohjeet/datan-avaajalle/;
  }

  location ~ ^/fi/datatoiveet/$ {
    return 302 /data_request/;
  }

  location ~ ^/fi/avaa-dataa/datan-avaajan-muistilista/$ {
    return 302 /fi/ohjeet/datan-avaajalle/datan-avaajan-pikaopas/;
  }

  location ~ ^/fi/avaa-dataa/miten-paasee-alkuun/$ {
    return 302 /fi/ohjeet/datan-avaajalle/;
  }

  location ~ ^/fi/avaa-dataa/hrin-kriteerit-tietoaineistoille$ {
    return 302 /fi/ohjeet/datan-avaajalle/ilmoita-aineistosi-hrin-katalogiin/;
  }

  location ~ ^/fi/ilmoita-tietoaineisto/$ {
    return 302 /data/fi/submit-data;
  }

  location ~ ^/fi/ilmoita-uusi-sovellus/$ {
    return 302 /data/fi/submit-showcase;
  }

  location ~ ^/fi/sovellusideat/$ {
    return 302 /showcase_idea;
  }

  location ~ ^/fi/datatoiveet/$ {
    return 302 /data_request;
  }

  location ~ ^/fi/mita-on-avoin-data/$ {
    return 302 /fi/ohjeet/mita-on-avoin-data/;
  }

  location ~ ^/fi/hri-projekti/$ {
    return 302 /fi/hri-palvelu/;
  }

  location ~ ^/fi/hri-projekti/tyon-alla/$ {
    return 302 /tyon-alla/;
  }

  location ~ ^/fi/data-haku/$ {
    return 302 /data/fi/dataset/;
  }

  location ~ ^/fi/hri-projekti/verkkopalvelu/ohjeita-hrin-tehokayttajalle/$ {
    return 302 /fi/ohjeet/datan-hyodyntajalle/ohjeita-tehokayttajalle/;
  }

  location ~ ^/fi/hri-projekti/verkkopalvelu/hrin-metatietokentat/$ {
    return 302 /fi/ohjeet/datan-hyodyntajalle/ohjeita-tehokayttajalle/;
  }

  location ~ ^/fi/group/$ {
    return 302 /data/fi/collection/;
  }

  location ~ ^/fi/organization/$ {
    return 302 /data/fi/organization/;
  }

  location ~ ^/fi/hri-projekti/hankkeen-osa-alueet/$ {
    return 302 /fi/hri-palvelu/mika-hri/hrin-toimintamalli/;
  }

  location ~ ^/fi/hri-projekti/hel-loves-dev-avoin-konttori/$ {
    return 302 /fi/hri-palvelu/datan-hyodyntajalle/kehittajayhteistyo;
  }

  location ~ ^/fi/hri-projekti/yhteistyokumppanit/$ {
    return 302 /fi/hri-palvelu/mika-hri/;
  }

  location ~ ^/fi/hri-projekti/yhteistyokumppanit/hrin-ohjausryhman-muistiot/$ {
    return 302 /fi/hri-palvelu/mika-hri/ohjausryhma/;
  }

  location ~ ^/fi/hri-projekti/logot/$ {
    return 302 /fi/hri-palvelu/materiaalit-ja-logot/;
  }


  location ~ ^/fi/avaa-dataa/koulutusmateriaalia/$ {
    return 302 /fi/ohjeet/datan-avaajalle/koulutusmateriaalia/;
  }


  location ~ ^/fi/hri-projekti/yhteystiedot/$ {
    return 302 /fi/hri-palvelu/yhteystiedot/;
  }


  location ~ ^/fi/kayta-dataa/$ {
    return 302 /fi/ohjeet/datan-hyodyntajalle/;
  }

  location = / {
    if ($arg_s = "") {
      return 302 /fi/;
    }
  }

  location /assets/ {
    alias {{ assets_path }}/;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }

  # file upload size in megabytes
  client_max_body_size {{ nginx_max_resource_size }}m;
}

# Redirect unknown hostnames to primary hostname
server {
  listen 443 ssl default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# Redirect HTTP to HTTPS
server {
  listen 80 default_server;

  location / {
    return 302 https://{{ public_facing_hostname }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }
}

# PHPPgAdmin
server {
    server_name phppgadmin.{{ public_facing_hostname }};
    root    /usr/share/phppgadmin;
    index   index.php;
    include php.conf;
    listen 8000 ssl;
    error_page 497 https://phppgadmin.{{ public_facing_hostname }}:8000$request_uri;
}
